* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--tan-color: rgb(222,206,180);
	--red-color: rgb(136,49,42);
	--dark-red-color: rgb(95,22,16);
}

body {
	background: no-repeat center/100% 100% url('./images/background.jpg');
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

#slider-body {
	height: 16.5rem;
	width: 16.5rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
	background: linear-gradient(to bottom right, #e0e0e0, #747474);
	display: grid;
	grid: repeat(4, 4rem) / repeat(4, 4rem);
}

.slider-tile {
	width: 100%;
	height: 100%;
	padding: 0.25rem;
	border-radius: 0.25rem;
	color: gray;
	box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.5);
	display: grid;
	place-items: center;
	cursor: pointer;
	user-select: none;
}

.tile-text {
	font-size: 3.5rem;
	font-family: 'Kosugi Maru', sans-serif;
	background: linear-gradient(to bottom right, #e0e0e0, #747474);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.slider-tile:nth-child(even) {
	background-color: var(--tan-color);
}

.slider-tile:nth-child(odd) {
	background: linear-gradient(to bottom right, var(--red-color), var(--dark-red-color));
}

.move-down {
	margin-top: 4rem;
	transition: margin-top 0.1s ease-in;
}

.move-up {
	margin-top: -4rem;
	transition: margin-top 0.1s ease-in;
}

.move-right {
	margin-left: 4rem;
	transition: margin-left 0.1s ease-in;
}

.move-left {
	margin-left: -4rem;
	transition: margin-left 0.1s ease-in;
}